### for generalized version

## 70% test data , 30% train data

In [2]:
# Python3 program to generate n-bit Gray codes
import math as mt

# This function generates all n bit Gray
# codes and prints the generated codes
lst = list()

def generateGrayarr(n):

	# base case
	if (n <= 0):
		return

	# 'arr' will store all generated codes
	arr = list()

	# start with one-bit pattern
	arr.append("0")
	arr.append("1")

	# Every iteration of this loop generates
	# 2*i codes from previously generated i codes.
	i = 2
	j = 0
	while(True):

		if i >= 1 << n:
			break
	
		# Enter the previously generated codes
		# again in arr[] in reverse order.
		# Nor arr[] has double number of codes.
		for j in range(i - 1, -1, -1):
			arr.append(arr[j])

		# append 0 to the first half
		for j in range(i):
			arr[j] = "0" + arr[j]

		# append 1 to the second half
		for j in range(i, 2 * i):
			arr[j] = "1" + arr[j]
		i = i << 1

	# print contents of arr[]
	# for i in range(len(arr)):
	# 	print(arr[i])
	lst.append(arr)

# Driver Code
generateGrayarr(3)

# This code is contributed
# by Mohit kumar 29
print(lst)
lst.sort()

[['000', '001', '011', '010', '110', '111', '101', '100']]

In [33]:
print(lst[0])

['0000', '0001', '0011', '0010', '0110', '0111', '0101', '0100', '1100', '1101', '1111', '1110', '1010', '1011', '1001', '1000']

In [38]:
print(lst[0][0])

0000

In [28]:
import pandas as pd
Y = pd.DataFrame(lst[0],columns=['y'])
Y

       y
0   0000
1   0001
2   0011
3   0010
4   0110
5   0111
6   0101
7   0100
8   1100
9   1101
10  1111
11  1110
12  1010
13  1011
14  1001
15  1000

In [44]:
import math

In [35]:
length = len(lst[0])
print(length)
o = list()
counter = 0
for i in range(length):
    counter = counter + 1
    if counter < length/2:
        o.append(0)
    else:
        o.append(1)

print(o)

16
[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [37]:
import math

n = length
no_of_test_data = math.floor(0.7 * length)
no_of_train_data = n - no_of_test_data
print(n,no_of_test_data,no_of_train_data)

16 11 5

In [47]:
w1 = 0.4
w2 = 0.3
w3 = 0.2
t = 0.5

In [48]:
counter = 0

while counter!=no_of_test_data :

    for i in range(no_of_test_data):
        sum = x1[i] * w1 + x2[i] * w2 + x3[i] * w3
        
        if sum >= t:
            result = 1
        else:
            result = 0

        if result == o[i]:
            counter = counter + 1
        
        elif result < o[i]:
            w1 = w1 + x1[i]
            w2 = w2 + x2[i]
            w3 = w3 + x3[i]
            counter = 0
            break

        else:
            w1 = w1 - x1[i]
            w2 = w2 - x2[i]
            w3 = w3 - x3[i]
            counter = 0
            break

In [49]:
print(w1,w2,w3)

1.4 -0.7 -0.8

In [56]:
right = 0
wrong = 0 

for i in range(no_of_test_data,n):
    sum = x1[i] * w1 + x2[i] * w2 + x3[i] * w3
    
    if sum >= t:
        result = 1
    else:
        result = 0
    
    if result == o[i]:
        right = right + 1

    else:
        wrong = wrong + 1

accuracy = (right * 100) / no_of_train_data

print('No of train data :',no_of_train_data)
print('Right :',right)
print('Wrong :',wrong)
print('Accuracy :',accuracy)

No of train data : 3
Right : 2
Wrong : 1
Accuracy : 66.66666666666667